@model EntitiyLayer.Concreate.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ön Sayfa Güncelleme Formu</h4>
@using (Html.BeginForm("Index", "Feature", FormMethod.Post, new { @class = "m-5" }))
{


    @Html.HiddenFor(x=>x.FeatureID)
    @Html.Label("Sesleniş")
    @Html.TextBoxFor(x=>x.Header, new {@class="form-control mb-2"})
    @Html.Label("Ad Soyad")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control mb-2"})
    @Html.Label("Başlık")
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control mb-2"})
    <button href="/" class="btn btn-success mt-3">Güncelle </button>



}

        </div>
    </div>
</div>