@model EntitiyLayer.Concreate.Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmet Güncelleme Formu</h4>

<form method="post" action="UpdateService"  class="form-group" enctype="multipart/form-data">

    @Html.Label("Proje İsmi")
    @Html.TextBoxFor(x=>x.Title, new{@class="form-control mb-3"})
    @Html.ValidationMessageFor(x=>x.Title)
        <br />
    @Html.Label("Proje Görüntüsü Küçük Ekran")
   <img src="@Url.Content(Model.ImageUrl)" width="80" height="80" />
   <input class="mt-3" type="file" name="ImageUrl">

        <button href="#" class="btn btn-success mt-3">Güncelle </button>

            </form>
   </div>

        </div>

    </div>
